//bla

body {
background-color: green;
}



#wrapper{
background-color: red;
width: 1140px;
margin-left: auto ;
margin-right: auto ;

}

#header{
text-align: right;
background-color: blue;

}
nav{
width: 1140px;
margin-left: auto ;
margin-right: auto ;

}
nav ul{
padding: 0;
margin: 0;
}

nav ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

nav ul,nav ul li{
    background-color: green;
}
    nav ul li {
    list-style: none;
    float:left;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 14px 34px 14px 34px;
}
nav ul li:hover > ul {
    visibility: visible;
}
nav ul li ul{
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0px;
}
nav ul li ul li{
    float: none;
}
nav ul li ul li a:hover{
    color: #333;
}

img {
opacity: 1;
}